<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="defaultLayout" value="[${threadid}] ${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" />
  <targets>
    <target name="debug" xsi:type="Debugger" layout="${defaultLayout}" />
  </targets>
  <rules>
    <logger name="NHibernate.SQL" writeTo="debug" minlevel="Trace" />
    <logger name="ChannelManagement.*" writeTo="debug" minlevel="Trace" />
  </rules>
</nlog>