<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.5" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NHibernate.NLog" version="1.0.0" targetFramework="net45" />
  <package id="NLog" version="3.2.1" targetFramework="net45" />
  <package id="NLog.Config" version="3.2.1" targetFramework="net45" />
  <package id="NLog.Schema" version="3.2.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="SharpTestsEx" version="1.1.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
</packages>